<<<<<<< HEAD
=======
body {
    font-family: "Montserrat", sans-serif;
}

>>>>>>> 433a8486187cb0794644cad37dcb148d9c78ba8d
.heading{
    text-align: center;
    font-size: 32px; 
}

.add-new-btn{
    text-align: center;
    margin-bottom: 15px;
}
<<<<<<< HEAD
=======

>>>>>>> 433a8486187cb0794644cad37dcb148d9c78ba8d
.add-new-btn button{
    border: 1px solid #ccc;
    background: #000;
    color: #fff;
    width: 200px;
    height: 50px;
    border-radius: 7px;
    font-size: 24px;
    cursor: pointer;
}

.albums-wrapper{
    width: 90%;
    max-width: 1256px;
    margin: auto;
    text-align: center;
}
<<<<<<< HEAD
=======

>>>>>>> 433a8486187cb0794644cad37dcb148d9c78ba8d
